commands:
    10_create_pre_dir:
        command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/pre"
        ignoreErrors: true
    15_create_post_dir:
        command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
        ignoreErrors: true

files:
    "/opt/elasticbeanstalk/hooks/appdeploy/pre/0_create_deployment_lock":
        mode: "000777"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash

            touch /opt/elasticbeanstalk/support/.deployment-in-progress

    "/opt/elasticbeanstalk/hooks/appdeploy/post/99999_remove_deployment_lock":
        mode: "000777"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash

            rm /opt/elasticbeanstalk/support/.deployment-in-progress